<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.ssm.dao.TScoreMapper">
    <resultMap id="BaseResultMap" type="com.nf147.ssm.entity.TScore">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="curr" jdbcType="VARCHAR" property="curr"/>
        <result column="grade" jdbcType="INTEGER" property="grade"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.nf147.ssm.entity.TScore">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_score (id, name, curr,
        grade)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{curr,jdbcType=VARCHAR},
        #{grade,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.nf147.ssm.entity.TScore">
        update t_score
        set name = #{name,jdbcType=VARCHAR},
          curr = #{curr,jdbcType=VARCHAR},
          grade = #{grade,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, curr, grade
    from t_score
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, curr, grade
        from t_score
    </select>
</mapper>